@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
	scroll-behavior: smooth;

}

body {
	width: 100vw;
	height: 100vw;
	margin: 0;
	padding: 0;
	top: 0;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;

	header {
		position: fixed;
		width: 100vw;
		background: #fff;
		z-index: 999;
		box-shadow: 0px 10px 20px #824d8676;
	}

	footer {
		border-top: 1px solid #824d8676;
	}

	button {
		outline: none !important;
	}
}

.navbar {
	padding: 20px;

	ul .nav-item {
		padding: 0 30px;
	}


	.nav-link {
		text-align: center;
		font-size: 17px;
		letter-spacing: 0px;
		color: #333333 !important;
	}
}
.page-footer{
	background-color:#4f367126 ;
	a{
		color: #333333;
		font-size: 16px;
	}
	.menu .nav-item {
	padding: 0 50px;
    list-style: none;
	text-align: left;	
	}
	.share-wrapper .nav-item {
		padding: 0 5px;
		display: inline-block;
	}
}

#home-banner {
	background: #42275a;
	background: -webkit-linear-gradient(to right, #734b6d, #42275a);
	background: linear-gradient(to right, #734b6d, #42275a);
	padding: 175px 0 75px 0;

	.banner-left {
		color: #fff;
	}

	hr {
		border: 1px solid #FFFFFF;
		opacity: 0.2;
	}

	h1 {
		font-weight: bold;
	}

	.register-btn {
		margin-top: 20px;
		width: 218px;
		height: 55px;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		background-size: cover;
		box-shadow: 0px 4px 7px #4a1e6c67;
		border-radius: 30px;

		span {
			text-transform: uppercase;
			width: 78px;
			height: 39px;
			text-align: left;
			color: #1E376C;
			float: left;
			padding: 7px;
			font-weight: bold;
		}

		img {
			border-radius: 50%;
			width: 39px;
			height: 39px;
			background-color: #4f3671;
			float: right;
		}
	}

	.prof-inf {
		padding-top: 65px;
		padding-bottom: 10px;

		.prof-img {
			width: 25%;

			img {
				border-radius: 25px;
			}
		}

		.prof-text {
			width: 75%;
			padding-left: 10px;
		}

		.bio-btn {
			margin-top: 10px;
			width: 93px;
			height: 24px;
			border: 2px solid #FFFFFF;
			border-radius: 12px;
			font-size: 13px;
			padding-top: 0px;
		}

	}

	form {
		margin: auto;
		width: 80%;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 10px 50px 50px #824d8676;
		border-radius: 21px;
		padding: 40px 25px;

		@media only screen and (max-width: 600px) {
			& {
				width: 100% !important;
			}
		}

		.form-group {
			label {
				color: #4f3671;
			}

			input {
				height: 46px;
				background: #F2F2F5 0% 0% no-repeat padding-box;
				border: 1px solid #D6E0ED;
				border-radius: 9px;
			}
		}

		.login-btn {
			margin-top: 20px;
			width: 100%;
			height: 55px;
			background: #4f3671 0% 0% no-repeat padding-box;
			box-shadow: 0px 4px 7px #4a1e6c67;
			background-size: cover;
			border-radius: 30px;

			span {
				text-transform: uppercase;
				width: 78px;
				height: 39px;
				text-align: left;
				color: #fff;
				float: left;
				padding: 7px;
				font-weight: bold;
			}

			img {
				border-radius: 50%;
				width: 39px;
				height: 39px;
				background-color: #fff;
				float: right;
			}
		}
	}
}

#f-types {
	h2 {
		text-align: center;
		font-weight: bold;
		color: #333333;
		margin: 80px 0 50px 0;
	}

	.f-types-slider {

		.card {
			background: #FFFFFF 0% 0% no-repeat padding-box;
			box-shadow: 0px 3px 6px #0000001F;
			border-radius: 20px;
			margin: 0 15px;

			.card-img {
				height: 260px;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			}

			.card-shares {
				position: absolute;
				top: 210px;
				right: 10px;

				button {
					width: 45px;
					height: 45px;
					background: #FFFFFF 0% 0% no-repeat padding-box;
					border: 1px solid #4D64863C;
					border-radius: 50%;

					img {
						margin: auto;
					}
				}
			}

			.card-info {
				padding: 25px 25px;

				.card-title {
					padding-top: 8px;
					margin-bottom: 0px;
					color: #333333;
					font-weight: bold;
					font-size: 19px;
					overflow: hidden;
					height: 65px;
				}

				.card-author {
					display: block;
					padding-top: 9px;
					color: #333333;
					opacity: 0.7;
					font-size: 15px;
					height: 210px;
					overflow: hidden;
				}

				.card-btn {
					margin-top: 40px;
					padding-top: 0px;
					width: 55%;
					height: 30px;
					border: 2px solid #4f3671;
					border-radius: 16px;
					font-size: 16px;
					color: #4f3671;
				}
			}
		}

		.slick-next2 {
			font-size: 30px;
			font-weight: 700;
			cursor: pointer;
			font-family: sans-serif;
			position: absolute;
			top: 40%;
			right: -10px;
			z-index: 15;
			border-style: solid;
			border-width: 2px 2px 0 0;
			border-color: #333333;
			content: '';
			display: inline-block;
			height: 22px;
			transform: rotate(45deg);
			vertical-align: top;
			width: 22px;
		}

		.slick-prev2 {
			font-size: 30px;
			font-weight: 700;
			cursor: pointer;
			font-family: sans-serif;
			position: absolute;
			top: 40%;
			left: -10px;
			z-index: 15;
			border-style: solid;
			border-width: 2px 2px 0 0;
			border-color: #333333;
			content: '';
			display: inline-block;
			height: 22px;
			transform: rotate(-135deg);
			vertical-align: top;
			width: 22px;
		}

		.slick-dots {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 50px 0;
			list-style-type: none;

			li {
				margin: 0 0.25rem;
			}

			button {
				display: block;
				width: 13px;
				height: 13px;
				padding: 0;
				border: none;
				background: #4D648636 0% 0% no-repeat padding-box;
				border-radius: 7px;
				opacity: 1;
				text-indent: -9999px;
			}

			li.slick-active button {
				background: #4f3671 0% 0% no-repeat padding-box;
				border-radius: 20px;
				opacity: 1;
			}
		}
	}
}

#f-care {
	h2 {
		text-align: center;
		font-weight: bold;
		color: #333333;
		margin-top: 80px;
		margin-bottom: 25px;
	}

	.video-wrapper {
		.f-care-slider {
			padding-top: 30px;
			padding-bottom: 50px;

			.video-card {
				margin: 10px 25px;
				display: flex !important;

				.card-img {
					width: 50%;
					margin: auto;
				}

				.card-title {
					display: inline-block;
					top: 145px;
					color: #333333;
					font-weight: bold;
					font-size: 19px;
				}

				.card-info {
					color: #333333;
					opacity: 0.7;
					font-size: 15px;
				}

			}

			.slick-next-care {
				font-size: 30px;
				font-weight: 700;
				cursor: pointer;
				font-family: sans-serif;
				position: absolute;
				top: 40%;
				right: -10px;
				z-index: 15;
				border-style: solid;
				border-width: 2px 2px 0 0;
				border-color: #333333;
				content: '';
				display: inline-block;
				height: 22px;
				transform: rotate(45deg);
				vertical-align: top;
				width: 22px;
			}

			.slick-prev-care {
				font-size: 30px;
				font-weight: 700;
				cursor: pointer;
				font-family: sans-serif;
				position: absolute;
				top: 40%;
				left: -10px;
				z-index: 15;
				border-style: solid;
				border-width: 2px 2px 0 0;
				border-color: #333333;
				content: '';
				display: inline-block;
				height: 22px;
				transform: rotate(-135deg);
				vertical-align: top;
				width: 22px;
			}
		}

		.slick-dots {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 50px 0 0 0;
			list-style-type: none;

			li {
				margin: 0 0.25rem;
			}

			button {
				display: block;
				width: 13px;
				height: 13px;
				padding: 0;
				border: none;
				background: #4D648636 0% 0% no-repeat padding-box;
				border-radius: 7px;
				opacity: 0.5;
				text-indent: -9999px;
			}

			li.slick-active button {
				background: #4f3671 0% 0% no-repeat padding-box;
				border-radius: 20px;
				opacity: 1;
			}
		}
	}
}

#register-form {
	padding: 170px 0 140px 0;
	background: #F3F7FC 0% 0% no-repeat padding-box;


	form {
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 10px 10px 10px #824d8676;
		border-radius: 30px;
		padding: 40px 55px;

		.form-group {
			label {
				color: #4D6486;
			}

			input,
			select {
				height: 46px;
				background-color: #F2F2F5;
				border: 1px solid #D6E0ED;
				border-radius: 9px;
			}

		}

		input[type=checkbox] {
			left: 25px;
		}

		.custom-control-label::before,
		.custom-control-label::after {
			left: 0;
		}

		.custom-control-input:checked~.custom-control-label::before {
			color: #fff;
			border-color: #0093CF;
			background-color: #0093CF;
		}

		.custom-control-label {
			padding-left: 25px;
		}

		.register-btn {
			width: 100%;
			height: 55px;
			background: #0093CF 0% 0% no-repeat padding-box;
			box-shadow: 0px 4px 7px #4a1e6c67;
			background-size: cover;
			border-radius: 30px;

			span {
				text-transform: uppercase;
				width: 78px;
				height: 39px;
				text-align: left;
				color: #fff;
				float: left;
				padding: 7px;
				font-weight: bold;
			}

			img {
				border-radius: 50%;
				width: 39px;
				height: 39px;
				background-color: #fff;
				float: right;
			}
		}
	}
}

.modal-content {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 10px 10px 10px #824d8676;
	border-radius: 30px;
	padding: 40px 55px;
	width: 80%;

	h2 {
		color: #1E376C;
		font-weight: bold;
		padding-top: 15px;
	}

	h6 {
		color: #4D6486;
		font-weight: bold;
	}

	p {
		color: #4D6486
	}

	.register-btn {
		margin-top: 15px;
		width: 100%;
		height: 55px;
		background: #0093CF 0% 0% no-repeat padding-box;
		box-shadow: 0px 4px 7px #4a1e6c67;
		background-size: cover;
		border-radius: 30px;

		span {
			text-transform: uppercase;
			text-align: left;
			color: #fff;
			float: left;
			padding: 7px;
			font-weight: bold;
		}

		img {
			border-radius: 50%;
			width: 39px;
			height: 39px;
			background-color: #fff;
			float: right;
		}
	}

	.btn-outline {
		text-transform: uppercase;
		color: #1793CF;
		font-weight: bold;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 600px) {
	.prof-inf{
		margin-bottom: 25px;
	.prof-img {
		width: 40% !important;
	}

	.prof-text {
		width: 60% !important;
		p{
			height: 100px;
			overflow: hidden;
		}
	}
	}
	.f-types-slider {
		.card-btn {
			width: 65% !important;
		}

		.card-img {
			height: 170px !important;
		}

		.card-author {
			height: 100px !important;
		}

		.card-shares {
			top: 135px !important;

			button {
				width: 30px !important;
				height: 30px !important;

				img {
					width: 16px !important;
					height: 16px !important;
				}
			}
		}
	}

	.video-wrapper {
		.card-img {
			width: 100% !important;
		}
		.card-info.desc{
			height: 115px;
			overflow: hidden;
		}
	}
	.page-footer{
		.copyright{
			padding-left: 50px;
		}
		.share-container{
	      padding-left: 45px;
          text-align: left;
		}
	}
}